h1 {
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

label:not(:first-child) {
    margin-left: 1em;
}

label {
    margin-right: 0.2em;
}