@font-face {
    font-family: 'Droid';
    src: url('assets/fonts/Droid/DroidSans.ttf') format('truetype');
}
@font-face {
    font-family: 'DancingScript';
    src: url('assets/fonts/DancingScript/DancingScript-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('assets/fonts/FontAwesome/fa-solid-900.ttf') format('truetype');
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Droid', arial, sans-serif;
    background-color: #ebebf5;
}
