div.asset-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(4em, auto) auto auto;
    grid-template-areas:
        'asset        asset'
        'author-label author-info'
        'source-label source-info'
}

section.asset {
    grid-area: asset;
}

section.label {

}
section.info {

}

section.author-label {
    grid-area: author-label;
}
section.source-label {
    grid-area: source-label;
}

section.author-info {
    grid-area: author-info;
}
section.source-info {
    grid-area: source-info;
}