div.asset-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto minmax(12em, auto) auto auto;
    grid-template-areas:
        'tabs         tabs'
        'asset        asset'
        'author-label author-info'
        'source-label source-info';
    width: 74%;
}

/*  MEDIA QUERIES */

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

/*@media (min-width: 481px) and (max-width: 767px) {*/
@media (max-width: 767px) {
    div.asset-container {
        width: 100%;
        padding: 0 1em;
    }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

/*
@media (min-width: 320px) and (max-width: 480px) {
    div.asset-container {
        width: 100%;
    }
}*/

/*  END MEDIA QUERIES */

section.tabs {
    grid-area: tabs;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    grid-auto-flow: row;
}
div.tab {
    text-align: center;
    padding: 0.6em 1em 0.5em;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #e8e8f1;
    user-select: none;
    color: #333;
}
div.tab.extra {
    color: #1f3525;
}
div.tab:hover {
    background-color: #d9d9f5;
}
div.tab:first-child {
    border-left: 1px solid #aaa;
}

section.asset {
    grid-area: asset;
    background-color: #ddd;
    border: 2px solid #aaa;
}

section.label {
}
section.info {
    text-align: right;
}

section[class^="author"] {
    padding-top: 1em;
}
section.author-label {
    grid-area: author-label;
}
section.source-label {
    grid-area: source-label;
}

section.author-info {
    grid-area: author-info;
}
section.source-info {
    grid-area: source-info;
}